.container{
  position:absolute;
  width:100%;
  height:100%;
  background-image: url(background.jpeg);
  background-size: cover;
  opacity:0.3;
  z-index:-1;

}
body{
  margin:0;
}
h1{text-align: center;
  margin: 0;
  padding: 25px;
  padding-bottom: 10px;
  padding-top:50px;
}
#contents{
  padding-left: 25px;
  padding-right: 25px;
  border : 1px solid black ;
  margin : 40px;
  margin-left: 80px;
  margin-right: 80px;
  display: grid;
  grid-template-columns: 200px 1fr;
}
ol{
  border-right: 1px solid black;
  width: 150px ;
  margin : 0 ;
  padding: 20px;
  line-height: 180%;
}
#article{
  margin : 10px;
  padding : 10px ;
  padding-left: 15px;
}
@media(max-width:700px){
  #contents{
    display:block;
    padding : 0px;
  }
  ol{
    border-right : none;
    padding-left : 50px;
  }
  #article{
    border-top: 1px solid black;
    margin: 0
  }
}
